.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

@include media-smaller(xs) {
  .col-xs-full {
    flex-basis: 100% !important;
  }
}
