.font-h-2 {
  font-size: 24px;
  text-decoration: underline;
  text-transform: lowercase;
  margin: 0;
  font-weight: normal;
}

@include media-smaller(xs) {
  .font-h-2 {
    font-size: 18px;
  }
}

p {
  margin: 0.4em 0;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}