$qa-primary-color: #5a99e1;
$qa-secondary-color: #e15ab2;
$qa-background-color: #ffffff;
$qa-icon-color: #ffffff;
$qa-icon-color-dark: #373636;
$qa-font-color: #ffffff;
$qa-font-color-dark: #373636;
$qa-color-border: #969696;
$qa-disabled-color: #7f7f7f;