@import './_globalIncludes';
@import './icons.scss';
@import './styles/styles.scss';

:root {
  @include qa-color-vars();
  @include qa-color-vars-variants();

  --qa-hover-brightness: 90%;
  --qa-border-radius: 8px;
  --qa-animation-speed: #{$qa-animation-speed};
}